# 默认配置（ESP32-S3 N16R8，16MB Flash）
CONFIG_ESPTOOLPY_FLASHSIZE_16MB=y
CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="partitions.csv"

# 网络
CONFIG_ESP_WIFI_SOFTAP_SUPPORT=y

# mDNS
CONFIG_MDNS_MAX_SERVICES=4

# 电源管理（屏幕休眠时 CPU 空闲自动降频，配合 main.c 的 esp_pm_configure）
CONFIG_PM_ENABLE=y
