# 默认配置（4MB Flash）
CONFIG_ESPTOOLPY_FLASHSIZE_4MB=y
CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="partitions.csv"

# 网络
CONFIG_ESP_WIFI_SOFTAP_SUPPORT=y

# mDNS
CONFIG_MDNS_MAX_SERVICES=4
